*{
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
a{
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 2px;
}
li{
  list-style: none;
}
.logo h1{
  text-align: left;
  
}
.navAlign{
  width: 100%;
  color: rgb(187, 187, 209);
  background: black;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  /* display: none; */
}

.list{
  display: none;
  width: 100%;
  color: rgb(187, 187, 209);
  background: black;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.topList{
  width: 100%;
  display: none;
  padding: 1rem;
  position: absolute;
  top: 3rem;
  transition: all 2s ease;
  background: black;
}
.topShow{
display: block;
transition: all 2s ease;
}
.bar{
  font-size: 1.5rem;
  position: absolute;
  right: 5rem;
  top: 1rem;
  cursor: pointer;
  color: rgb(155, 98, 107);
}
.bar:hover{
  color: blue;
}
.Table{
  margin: 7rem;
  background: rgb(2, 2, 33);

}
.box{
  width: 70vw;
  height: auto;
  margin: auto;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1rem;
}
.boxAlign{
  box-shadow: 2px 2px 5px pink;
  padding: 1em;
  margin-bottom: 1rem;
}
.img{
  width: 100%;
}
@media screen and (max-width:600px) {
  .list{
    display: none;
  }
  .box{
    width: 80vw;
    height: auto;
    margin:7rem auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 1rem;
  }

}
@media screen and (min-width:600px) {
  .bar{
    display: none;
  }
  .topList{
    display: none;
  }
  
}
@media screen and (min-width:600px) {
  
  .box{
    width: 60vw;
    height: auto;
    margin:2rem auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
  }
}
@media screen and (min-width:900px) {
  .bar{
    display: none;
  }
  .topList{
    display: none;
  }
  .box{
    width: 80vw;
    height: auto;
    margin:2rem auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
  }
}
.loading-circle {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 70px;
  height: 70px;
  border: 6px solid rgba(0, 0, 255, 0.2); 
  border-top: 6px solid blue; 
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}